*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

main {
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    min-width: 100px;
    min-height: 100PX;
    padding: 5rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.grandparent {
    background: #b1d4e0;
    color: black;
}

.parent {
    background-color: #145da0;
}

.child {
    background: #0c2d48;
}