.grid-container{
    border: 2px solid blue;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px 100px;
    height: 500;
}

.grid-item{
    background-color: tomato;
    margin: 1px;
    padding: 20px;
}